header {
  padding: 15px;
  background-color: black;
  color: white;
}

div#app {
  margin-top: 15px;
}

.tab-content {
  padding-top: 15px;
}

.selected {
    background-color: #f1f9ff; 
    border-radius: 5px 0 0 5px;
}

iframe {
  width: 100%;
  height: 800px;
  border: none;
}

.card {
  margin-top: 5px;
}
.card-block {
  margin-top: 15px;
}

#editorTabContent button {
  margin-top: 15px;
}
/* Fields editor */
.editor-field {
  padding: 15px;
}

.editor-field > div {
  display: table-cell;
}

.editor-buttons {
  height: 100%;
  vertical-align: middle;
  padding-right: 15px;
}

.editor-form-element {
  width: 75%;
}

.field-type-buttons button {
  margin-right: 15px;
}

/* CodeMirror */

.CodeMirror {
  border: 1px solid #DDDDDD;
}

/* Monaco */
.editor {
  min-height: 300px;
  border: 1px solid #DDDDDD;
}